{% extends "bootstrap/base.html" %}
{% block title %}
{{title}}
{% endblock %}

{% block navbar %}
<div class="navbar navbar-fixed-top">
  <!-- ... -->
</div>
{% endblock %}

{% block content %}
<div class="container">
  <h2>Text:</h2>
  <p>Input your text for counting:</p>
  <form role="form" action="{{ url_for('text') }}" method="POST">
    <div class="form-group">
      <textarea class="form-control" rows="10" name="text" id="comment"></textarea>
    </div>
    <input type="submit" class="btn btn-primary" value="Submit">
  </form>
</div>
{% endblock %}
